.n {
    text-decoration: none;
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 30px;
    color: white;
}

li a,a{
    text-decoration: none;
    color: white;
}

li a:hover,a:hover{
    color: yellow;
}